*{margin: 0; padding: 0;}
body{background-color: aqua;}
body{
    -moz-user-select: none;   
    -webkit-user-select: none;   
    -ms-user-select: none;   
    -khtml-user-select: none;   
    user-select: none;
}

.top{
    width: 100%;
    height: 50px;
    background-color:#00F5FF;
    border-bottom: 1px black solid;
}
.top .title{
    letter-spacing: 10px;
    width: 70px;
    height: 30px;
    font-size: 25px; color: green; 
    text-align: center;
    margin-top: 7px;
    margin-left: 9%;
    float: left;
}
.nav{
    margin-right: 11%;
}
.nav li{
    font-size: 20px; color: #444; text-align: center;
    height: 40px; width: 100px; background-color: #00FFFF; 
    float:right; margin-right: 1px;
}
.nav li:hover{cursor: pointer; background-color: aliceblue;}
.nav li a{
    font-size: 20px; color: #444; text-align: center;
    display: block; height: 100%; padding-top: 10px; background-color: #00FFFF;
}
.set-menu{
    position: absolute; z-index: 10;
    width: 200px; height: 120px; background-color: aliceblue;
    right: 4.6%; padding: 30px;
}
.set-menu1{height: 50px;}
.set-menu select{width: 50px; height: 30px;}
.set-menu .set-button{width: 40px; height: 25px; float: right;}
.set-menu .log-button{width: 40px; height: 25px; float: right;}
.set-menu p{width: 100px; height: 25px; margin-top: 20px;}

.game-div{margin: 0 auto; width: 1200px; height: 600px; /*border: 5px solid green;*/ position:relative;}
.game-div2{width: 1200px; height: 600px; /*border: 2px yellowgreen solid;*/}
.food-div{width: 1200px; height: 600px; /*border: 2px greenyellow solid;*/}
.attack-div{width: 1200px; height: 600px;}

.game-canvas{
    /*border: 1px solid black;*/ background-image: url(background.png); background-repeat: no-repeat;
    position: absolute; z-index: -10;
}
.game-canvas2{
    position: absolute; z-index: -5;
}
.text-canvas{
    position: absolute; z-index: -7;
}
.info-canvas{
    position: absolute; z-index: -6;
}
.food-canvas{
    position: absolute; z-index: -8;
}
.mark-canvas{
    position: absolute; z-index: -1;
}
.temp-canvas{
    position: absolute; z-index: 0;
}
.board-canvas{
    position: absolute; z-index: -10;
}

.handcard-div{width: 1200px; height: 70px; margin: 0 auto; /*border: 3px black solid;*/} 
.handcard{
    margin: -20px 100px 0 0; height: 70px; width: 750px; position: absolute; left: 26%; bottom: 0px; 
    /*border: 2px black solid;*/
}
.handcard td{
    height:120px; width: 77px; 
    /*border: 3px solid black; background-color: gold;*/ 
    text-align: center;
}

.next-turn{
    position: absolute; z-index: 10; right: 10%;
    width: 100px; height: 40px;  margin-right: 100px; margin-top: 15px; cursor: pointer;
}
.next-player{
    position: relative; display: none;
    width: 100px; height: 40px; float: right;  margin-top: -25px; margin-right: -100px; margin-bottom: -15px; cursor: pointer;
}